# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
sound-app/node_modules
sound-app/.pnp
sound-app/.pnp.js

# testing
sound-app/coverage

# production
sound-app/build

# misc
sound-app/.DS_Store
sound-app..env.local
sound-app/.env.development.local
sound-app/.env.test.local
sound-app/.env.production.local

sound-app/npm-debug.log*
sound-app/yarn-debug.log*
sound-app/yarn-error.log*
